body {
    display: flex;
    flex-direction: column;
    align-content:space-between;
    gap: 1rem;
    height: 100vh;
}

header {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(134, 134, 255);
    display: flex;
    height: 22.5vh;
    justify-content: center;
}

footer {
    background-color: rgb(134, 134, 255);
    height: 22.5vh;
    display: flex;
}

.headshot {
    max-width: 300px;
    max-height: 300px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
    gap: 1rem;
}

.infoHeading {
    display: flex;
    justify-content: space-between;
}

.smallBtnContainer {
    display: flex;

}

.projectInfo {
    padding: 5px;
}

.project {
    background-color: peachpuff;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px grey;
    
}

.headerImg {
    position: relative;
    text-align: center;
    color: white;


}

.myName {
    display: flex;
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    justify-content: center;
    width: 100%;

}

.headshot {
    max-width:min-content;

}

.screenshot {
    height: 160px;
}

.bio {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-self: center;
    padding: 10px;
    box-shadow: 5px 5px 10px grey;

}

.bigIcon {
    height: 25px;
    width: 25px;
}

.linkContainer {
    display: flex;
    justify-content: flex-end;
}

button {
    border: 0px;
    background:none;
}

button:hover {
    cursor: pointer;
}

.smallIcon {
    height: 15px;
    width: 15px;
}