body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 1em;
    height: 100vh;
    padding: 0;
    margin: 0;

}

.tabletHeader {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 25px;
    padding-right: 25px;


}

header {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(55, 137, 143);
    display: flex;
    justify-content: start;
    border-radius: 0% 0% 150% 0%;
    padding-left: 25px;
    padding-right: 25px;
}

footer {
    border-radius: 0% 150% 0% 0%;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgb(55, 137, 143);
    color: white;
    height: 22.5vh;
    display: flex;
    gap: 15rem;
}

.headshot {
    max-width: 280px;
    max-height: 280px;
}

.maintitle {


}

.cards {
    width: inherit;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    gap: 1rem;
    width: 100%;
    height: 100%;
    justify-content: start;

}

h4 {
    display: flex;
    align-items: center;
    margin: 0px;
}

.infoHeading {
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.smallBtnContainer {
    display: flex;

}

p {
    margin: 0px;
}
.projectInfo {
    display: flex;
    flex-direction: column;
    padding: 5px;

}

.project {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px grey;
    max-height: fit-content;
    height: 280px;
    
}

.headerImg {
    text-align: center;
    color: white;
    box-shadow: 2px 2px 10px grey;
    max-width: 280px;
    max-height: 280px;
    float: left
}

.myName {
    display: flex;
    position: relative;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    justify-content: center;
    width: 100%;

}

.headshot {
    max-width:min-content;

}

.screenshot {
    height: 160px;
}

.bio {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-self: center;
    padding: 10px;
    box-shadow: 5px 5px 10px grey;
    max-width: 500px;

 

}

.bigIcon {
    height: 25px;
    width: 25px;
}

.linkContainer {
    display: flex;
    justify-content: flex-end;
}

button {
    border: 0px;
    background:none;
}

button:hover {
    cursor: pointer;
}

.smallIcon {
    height: 15px;
    width: 15px;
}

.workingImg {
    width: 20%;
    box-shadow: 5px 5px 10px grey; 
}

.telephone, .email {
    display: flex;
    gap: 1em;
    align-items: center;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
}

.socialMedia {
    display: flex;
    justify-content: center;
}

.workingImg {
    width: 300px;
    height: 300px;
    display: flex;
    justify-self: start;
}

@media (max-width: 1063px) {
    footer {
        border-radius: 0% 25% 0% 0%;
    }
}

@media (max-width: 750px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    main {
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
    }

    .cards {
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;

    }

    .headshot {
        size:inherit
    }

    .bio {
        align-items: center;
        padding-right: 25px;
        gap: 1.5rem;
    }

    .bioInfo {
        text-align: center;
    }

    
}

@media (max-width: 2048px) {
    .headerImg {
        display: none;

    }

    .bio {
        display: none;
    }

    .tabletHeader {
        display:block;
    }

    .headPic>img {
        float: left;
        z-index: 10;
        position: relative;
        margin-right: 15px;
        width: inherit;
        height: 200px;
        width: 200px;
        
     
    }

    .textInfo {
        position: relative;
        background-color: white;
        box-shadow: 5px 5px 5px grey;
        position: relative;
        margin-top: 5%;
        margin-left: 25px;
        padding: 5px;   
    }

    .tabletName {
        color: white;
        font-size: 2rem;
        position: relative;
        left: -8%;
        top: 3%;
        z-index: 25;
        font-weight: bold;
    }
}
